@font-face {
  font-family: 'Bohem Press';
  src: url('https://raw.githubusercontent.com/SibyleDupourque/Kyvala-fonts/main/Bohem%20Press%20Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
